<% layout('/boilerplate.ejs') %>
    <section class="login" id="contact">
        <h1 class="contact-head">Endeavor</h1>
        <div class="contact-container">
            <img class="logo" src="../images/endeavor-logo-red.png" alt="">
            <div class="contact-body">
                <p>Hakim Murphy</p>
                <p>hakimmurphy@yahoo.com</p>
                <p>Ron Bush</p>
                <p>ron.c.bush@gmail.com</p>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="contact-form">
                <form action="mailto:hakimmurphy@yahoo.com">
                    <h1 class="contact-heading">Contact</h1>
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Message"></textarea>
                    <input class="buttons" type="submit" value="Send Message">
                </form>
            </div>
        </div>
    </section>