<%if (success) {%>
    <div class="flash-message-success">
        <%= success %>
    </div>
    <% } %>

        <%if (error) {%>
            <div class="flash-message-error">
                <%= error %>
            </div>
            <% } %>