<% layout('/boilerplate.ejs') %>
    <h1 class="section-heading-index" id="first-section">Endeavor</h1>
    <section class="intro-section">
        <div class="card-wrapper">
            <div class="card">
                <img src="images/endeavor-logo.jpeg" class="card-img">
                <p class="card-title">Endeavor</p>
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="story">
                    <h4 class="story-heading">About the Label</h4>
                    <p class="story-paragraph">
                        Endeavor is a record label based Chicago that features music from co-owner and artist Hakim
                        Murphy.
                        The mission is to bring fresh electronic music out to the public.
                        The fundamental philosophy is music liberation in all aspects yet within the constraints of
                        fundamental develop.
                        The place where one developed advance musical abilities, like creation and arrangement.
                        This label is the continuation the combined tastes of co-owner Ron Bush and Murphy’s development
                        while living in the Chicago area.
                        Each release will feature from Murphy with remixes from a broad spectrum of artists. Enjoy this
                        new Endeavor…
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="images/hakim-murphy.png" class="card-img">
                <p class="card-title">Hakim Murphy</p>
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="story">
                    <h4 class="story-heading">About Me</h4>
                    <p id="hakimMurphy" class="story-paragraph">
                        Since Murphy's youth, he believes that music has touched him in a way that made him fall in love
                        with its rhythms, harmonies, and melodies.
                        So in the natural progression dancing took over his body, but yet gus soul craved for more and
                        that is when playing records surfaced.
                        Ah, then the fascination with the fast dance tracks turned into deep House production through
                        friends and experiences,
                        which then blossomed into a Bachelor’s degree in music composition.
                        Liberal arts training allowed him to take classes and learn about human intellect, nature, and
                        essentially my personal definition of art.
                        Synapsis Records and Machining Dreams record labels are born and are currently releasing music
                        by, for, and from the underground.
                        Then after learning the craft, collaborations were born as he is part of Innerspace Halflife,
                        Pegasus Heat, Resonating, Hardware Hustlerz, Slowmotion, and Dream Scoring.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="images/ron-bush.jpeg" class="card-img">
                <p class="card-title">Ron Bush</p>
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="story">
                    <h4 class="story-heading">About Me</h4>
                    <p class="story-paragraph">
                        Ron Bush hailing from all sides of Chicago, long time promoter, enthusiast, and party guy, has
                        experienced the many different faces of the scene.
                        Bush has teamed up with Murphy in order to infuse his take on what was the past, what is the
                        present, and what will be the future of dance music.
                        Bush’s focus has a wide scope and plans to bring in a wide range of artists whom he has not
                        forgot about.
                        Bush is excited about this project and helping to steer into the a direction of goodness.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <heading id="release">Releases</heading>
    <section class="release-section">
        <div class="section-releases-wrapper">
            <div class="release-card">
                <img src="images/EEO-001.png" alt="Hakim Murphy - Aqua Breathing" class="release-img">
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="release-prose">
                    <div class="release-title">Hakim Murphy - Aqua Breathing</div>
                    <div class="release-paragraph">
                        Aqua Breathing bounces and wiggles through the speakers captured by one’s ear drums. Slow
                        and fast-motion is the spectrum of fluid arrangements compacted in this three track release.
                        Magda’s version of 5th-Meter comes with the break-beat, techno tip. That is the fraternal twin
                        of the original that strikes the floor hard. The original emotes the lush pads with a hypnotic kick,
                        that hits with subtle straight energy. Hard choppy waters come with CV-20, the acid lines comes to
                        life and metastasises with the atmosphere of a wormhole.
                    </div>
                </div>
                <figure>
                    <figcaption>5th Meter(Magda Remix)</figcaption>
                    <audio controls controlsList="nodownload" src="audio/5th_Meter_(Magda_Remix).mp3"></audio>
                </figure>
                <figure>
                    <figcaption>5th Meter</figcaption>
                    <audio controls controlsList="nodownload" src="audio/5th_Meter.mp3"></audio>
                </figure>
                <figure>
                    <figcaption>CV20</figcaption>
                    <audio controls controlsList="nodownload" src="audio/CV20.mp3"></audio>
                </figure>
            </div>
            <div class="release-card">
                <img src="images/EEO-002.png" alt="Hakim Murphy - Man Joe" class="release-img">
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="release-prose">
                    <div class="release-title">Hakim Murphy - Man Joe</div>
                    <div class="release-paragraph" id="manJoe">
                        Machine funk all day, as the label welcome’s Jamal Moss aka Heiroglyphic Being to the fold. Man
                        Joe (a phrase that people from Chicago will know off top) is a homage to the banging side of the
                        Chicago sound, fusing Moss’s avant garde waveforms with Murphy’s idiosyncratic take on Dance
                        Mania records. Out the box Moss’s remix of Beat Pit has crunchy mastering, unexpected drum
                        program, and multi-time signature synth melodies that are the personification of musical liberty.
                        Meanwhile Murphy’s original version looks forward while looking backward with its subtle drum
                        programming and synth arrangements that helped to define footwork dancing in Chicago. The acid
                        lines dance around each other just to introduce the chords towards the end of the tune.
                        Following suit is Classic Beat with its uptempo groove and modulating bassline parades around as
                        Murphy sprinkles sparse vocal drops rounding off the release. Shout out to the dancers out
                        there.
                    </div>
                </div>
                <figure>
                    <figcaption>Beat Pit(Heiroglyphic Being Remix)</figcaption>
                    <audio controls controlsList="nodownload"
                        src="audio/Beat_Pit_(Heiroglyphic _Being_Remix).mp3"></audio>
                </figure>
                <figure>
                    <figcaption>Beat Pit</figcaption>
                    <audio controls controlsList="nodownload" src="audio/Beat_Pit.mp3"></audio>
                </figure>
                <figure>
                    <figcaption>Classic Beat</figcaption>
                    <audio controls controlsList="nodownload" src="audio/Classic_Beat.mp3"></audio>
                </figure>
            </div>
            <div class="release-card">
                <img src="images/EEO-003.png" alt="Hakim Murphy - Fa Dem Goofy's" class="release-img">
                <div class="story-btn" title="Words">
                    <div class="story-btn-line"></div>
                </div>
                <div class="release-prose">
                    <div class="release-title">Hakim Murphy - Fa Dem Goofy's</div>
                    <div class="release-paragraph">
                        Playfulness is a great adjective for this release as the title Fa Dem Goofy's suggests. Jovial
                        yet banging tunes are located in this package that will serve up dance floors and home systems
                        alike. Tyree Cooper's remix of Muvido extracts the bassline and adds the disco percussion,
                        trying to take it back to the Bismarck days. Suddenly after all this tension is built smooth
                        harmonies frolic from the speakers. Murphy's original is raw and banging, percussion focused for
                        much of the runtime, but then turns emotive with lush chords over the syncopation. Made while
                        waiting an airport, Landing Acid's percussion sets the mood while two acid lines call and
                        respond to each other in a good humoured-way.
                    </div>
                </div>
                <figure>
                    <figcaption>Muvido(Tyree Cooper Throwback Remix)</figcaption>
                    <audio controls controlsList="nodownload"
                        src="audio/Muvido_(Tyree_Cooper_Throwback_Remix).mp3"></audio>
                </figure>
                <figure>
                    <figcaption>Muvido</figcaption>
                    <audio controls controlsList="nodownload" src="audio/Muvido.mp3"></audio>
                </figure>
                <figure>
                    <figcaption>Landing Acid</figcaption>
                    <audio controls controlsList="nodownload" src="audio/Landing_Acid.mp3"></audio>
                </figure>
            </div>
        </div>
    </section>

    <section class="section-1">
        <h1 class="section-heading-index" id="shi">Space for the Heads</h1>
        <div class="section-new">
            <% if(currentUser) {%>
                <a href="/new">
                    <button class="buttons-new">New</button>
                </a>
                <% } %>
        </div>
        <% for (let entry of entries) { %>
            <section class="entry-wrapper">
                <div class="entry">
                    <div>
                        <% for (let img of entry.images) { %>
                            <img class="img-index" src="<%= img.url %> " alt="">
                            <% } %>
                    </div>
                    <div class="story-btn" title="Words">
                        <div class="story-btn-line"></div>
                    </div>
                    <div class="story">
                        <div>
                            <h2 class="section-h2">
                                <%= entry.title %>
                            </h2>
                        </div>
                        <div>
                            <p class="section-p">
                                <%= entry.description %>
                            </p>
                        </div>
                        <div>
                            <a href="/<%=entry._id%>">
                                <button class="buttons">View</button>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </section>
    </section>

    <script src="js/story.js"></script>