<% layout('/boilerplate.ejs') %>
    <div>
        <section class="login">
            <h1 class="section-heading-show">Login</h1>
            <form class="form-login" action="/login" method="POST" novalidate>
                <div>
                    <label class="username" for="username">Username</label>
                    <input type="text" id="username" name="username" autofocus required>
                </div>
                <div>
                    <label class="password" for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button class="buttons">Login</button>
                </div>
            </form>
        </section>
    </div>