<% layout('/boilerplate.ejs') %>
    <section class="new">
        <h1 class="section-heading-show">New Entry</h1>
        <div class="form-wrapper">
            <form class="form-login" action="/" method="POST" enctype="multipart/form-data">
                <div>
                    <input class="new-upload" type="file" id="image" name="image" multiple>
                </div>
                <div class="new-title-wrapper">
                    <label class="new-title" for="title">Title</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="new-description-wrapper">
                    <label class="new-textarea-label" for="description">Description</label>
                    <textarea type="text" id="description" name="description" cols="100" rows="20"></textarea>
                </div>
                <div>
                    <button class="buttons">Submit</button>
                </div>
        </div>
        </form>
    </section>